<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Calc</title>

    <script src="../Libraries/angular.js"></script>
    <link href="../Libraries/bootstrap-theme.css" rel="stylesheet" />
    <link href="../Libraries/bootstrap.css" rel="stylesheet" />

    <script>
        angular.module("exampleApp", [])
        .factory("calc", function () {
            return {
                plus: function (firstInput, secondInput) {
                    return parseInt(firstInput) + parseInt(secondInput);
                },
                minus: function (firstInput, secondInput) {
                    return firstInput - secondInput;
                },
                multiply: function (firstInput, secondInput) {
                    return firstInput * secondInput;
                },
                delete: function (firstInput, secondInput) {
                    return firstInput / secondInput;
                },
            };
        })
        .controller("defaultCtrl", function ($scope, calc) {
            $scope.plus = function () {
                $scope.result = calc.plus($scope.firstField, $scope.secondField);
            };
            $scope.minus = function () {
                $scope.result = calc.minus($scope.firstField, $scope.secondField);
            };
            $scope.multiply = function () {
                $scope.result = calc.multiply($scope.firstField, $scope.secondField);
            };
            $scope.delete = function () {
                $scope.result = calc.delete($scope.firstField, $scope.secondField);
            };
        });
    </script>    
</head>
<body ng-controller="defaultCtrl">
    <div class="well">
        <div class="form-group">
            <input type="text" ng-model="firstField">
        </div>

        <div class="form-group">
            <input type="text" ng-model="secondField">
        </div>

        <div class="form-group">
            <div class="btn btn-default" ng-click="plus()">+</div>
        </div>

        <div class="form-group">
            <div class="btn btn-default" ng-click="minus()">-</div>
        </div>

        <div class="form-group">
            <div class="btn btn-default" ng-click="multiply()">*</div>
        </div>

        <div class="form-group">
            <div class="btn btn-default" ng-click="delete()">/</div>
        </div>

        <div class="form-group">
            <input type="text" ng-model="result">
        </div>
    </div>
</body>
</html>
